body,
html,
#root {
  height: 100%;
}
html {
  font-size: 10px;
}

h1 {
  padding: 10px;
  background-color: #f6f6f6;
  text-align: center;
  margin-left :70px;
  margin-top:50px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #000000;
  font-weight: bold;
}

h1 .highlight {
  color: rgb(46, 113, 238);
}

a {
  text-decoration: none;
  color: #000000;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.55 rem;
}

.App {
  height: 100%;
  padding: 0 17% 10% 17%;
  background-color: #f6f6f6;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}
