.SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6.94 rem;
  margin-bottom: 6.33 rem;
}

.SearchBar input {
  width: 287px;
  margin: 10px;
  padding: 6px;
  border: 0.5px solid #000;
  border-radius: 54px;
  height: 30px;
  color: #010c3f;
  text-align: center;
  font-size: 2;
}

.SearchBar input:focus {
  outline: none;
}

.SearchButton {
  cursor: pointer;
  width: 8.11 rem;
  padding: 15px;
  margin: 10px;
  border-radius: 54px;
  background-color: #1db954;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 0.833 rem;
  transition: background-color 0.25s;
  border: 0px;
  color: #fff;
  font-weight: 500;
}

.SearchButton:hover {
  background-color: rgb(65, 233, 129, 0.7);
}
